@import url(https://fonts.googleapis.com/css?family=Roboto);
body { font-family: 'Roboto'; }


html, body { height: 100%; }



.leading-navigation { background-color: #222; box-shadow: 0 3px 3px #777; }


.panel-wrapper { display: none; width: 100%; height: 100%; position: fixed; }
.panel-wrapper .panel-layer { background-color: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; }
.panel-wrapper .panel-inner { position: fixed; top: 0; left: 0; width: 150px; height: 100%; background-color: #222; color: #fff; overflow: auto; box-shadow: 0 3px 3px #777; }
.panel-wrapper .panel-inner .leading-panel-navigation .nav-link.active { color: #fff; }
.panel-wrapper .panel-inner .leading-panel-navigation .nav-link:not(.active) { color: #868e96; }
.panel-wrapper .panel-inner .leading-panel-navigation .nav-link:not(.active):hover { color: #bbb; }



.content { width: 100%; }

.text-editor { border-radius: 6px; border: solid 1px #ced4da; overflow: hidden; }
.text-editor .text-editor-toolbar { border-bottom: solid 1px #ced4da; }
.text-editor .text-editor-content { min-height: 250px; }

.has-active-panel { overflow: hidden; }
.has-active-panel .panel-wrapper { display: block; }
.has-active-panel .content { margin-left: 150px; width: calc(100% - 150px); }



.panel-toggler { cursor: pointer; }
.panel-toggler:hover .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
